In [1]:
import pandas as pd 
import numpy as np 
import copy

In [2]:
df1 = pd.read_csv("../data/mc1-reports-data.csv")
df1["time"] = pd.to_datetime(df1.time,infer_datetime_format=True)
df1 = df1.sort_values(by="time")
df1.reset_index(inplace=True, drop=False)
df1 = df1.drop('index',axis=1)

In [3]:
df=copy.deepcopy(df1)
for i in df:
    df[i]=df[i].fillna(0)

In [4]:
df['ImpactAndDamage'] = [None]*(len(df))
df

,time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location,ImpactAndDamage
0,2020-04-06,2.0,4.0,1.0,0.0,4.0,0.0,17,None
1,2020-04-06,2.0,8.0,5.0,0.0,3.0,0.0,2,None
2,2020-04-06,9.0,7.0,5.0,0.0,4.0,0.0,8,None
3,2020-04-06,10.0,2.0,9.0,0.0,10.0,0.0,4,None
4,2020-04-06,6.0,2.0,9.0,0.0,4.0,1.0,15,None
...,...,...,...,...,...,...,...,...,...
83065,2020-04-11,7.0,7.0,8.0,10.0,10.0,0.0,6,None
83066,2020-04-11,5.0,2.0,2.0,0.0,8.0,0.0,2,None
83067,2020-04-11,5.0,1.0,3.0,0.0,2.0,0.0,15,None
83068,2020-04-11,4.0,9.0,7.0,0.0,7.0,0.0,13,None
83069,2020-04-11,7.0,1.0,8.0,0.0,1.0,0.0,2,None

In [28]:
loc_impact_damage = {}
curr_impact = 0
curr_damage = 0
for index, row in df.iterrows():
    avg_damage = np.mean(row[1:6])
    avg_impact = np.mean(row[1:7])
    j=0
    if row["location"] in loc_impact_damage.keys():
        temp1,temp2,temp3 = loc_impact_damage[row["location"]]
        loc_impact_damage[row["location"]]=[temp1+avg_damage,temp2+avg_impact,temp3+1]
    else:
        loc_impact_damage[row["location"]]=[avg_damage,avg_impact,1]
    items1 = copy.deepcopy(loc_impact_damage)
    df.at[index,"ImpactAndDamage"] = [[item,items1[item]] for item in items1]
    # df.at[index,"Total_impact"]=curr_impact+avg_impact
    # curr_impact = df.at[index,"Total_impact"]
    # df.at[index,"Total_damage"]=curr_damage+avg_damage
    # curr_damage = df.at[index,"Total_damage"]
    # print((row[1:7]))
    # avg_damage = (df.at[index,"medical"]+df.at[index,"sewer_and_water"]+df.at[index,"power"]+df.at[index,"roads_and_bridges"]+df.at[index,"buildings"])/5
    # (avg_damage*5)+df.at[index,"shake_intensity"]
    # curr_dict["medical"] = df.at[index,"medical"]
    # curr_dict["sewer_and_water"] = df.at[index,"sewer_and_water"]
    # curr_dict["power"]=df.at[index,"power"]
    # curr_dict["roads_and_bridges"]=df.at[index,"roads_and_bridges"]
    # curr_dict["buildings"]=df.at[index,"buildings"]
    # curr_dict["shake_intensity"]=df.at[index,"shake_intensity"]

In [5]:
df["ImpactAndDamagePerDay"] = [None]*len(df)

In [6]:
loc_impact_damage = {}
curr_day = df["time"][0].day
for index, row in df.iterrows():
    if row["time"].day > curr_day:
        loc_impact_damage = {}
        curr_day = row["time"].day
        print(loc_impact_damage)
    avg_damage = np.mean(row[1:6])
    avg_impact = np.mean(row[1:7])
    j=0
    if row["location"] in loc_impact_damage.keys():
        temp1,temp2,temp3 = loc_impact_damage[row["location"]]
        loc_impact_damage[row["location"]]=[temp1+avg_damage,temp2+avg_impact,temp3+1]
    else:
        loc_impact_damage[row["location"]]=[avg_damage,avg_impact,1]
    items1 = copy.deepcopy(loc_impact_damage)
    df.at[index,"ImpactAndDamagePerDay"] = [[item,items1[item]] for item in items1]

{}
{}
{}
{}
{}

In [7]:
new_data = df[["time","ImpactAndDamagePerDay"]].copy()
new_data.to_csv("../data/barchart_cumulativedata.csv")

In [8]:
extra_d = {}
k=0
for j in [i for i in df1][1:-1]:
    extra_d[j]=k
    k+=1
extra_d

{'sewer_and_water': 0,
 'power': 1,
 'roads_and_bridges': 2,
 'medical': 3,
 'buildings': 4,
 'shake_intensity': 5}

In [25]:
df1["ReportsPerDay"] = [None]*len(df)

In [26]:
loc_reports = {}
curr_day = df1["time"][0].day
for ind, row in df1.iterrows():
    if row["time"].day > curr_day:
        loc_reports = {}
        curr_day = row["time"].day
    keys = row.keys()[1:7]
    items = row[1:7]
    if row["location"] in loc_reports.keys():
        for key in keys:
            if(not pd.isna(row[key])):
                loc_reports[row["location"]][key]+=1

    else:
        loc_reports[row["location"]] = {}
        for key in keys:
            # print(row[key])
            if(not pd.isna(row[key])):
                loc_reports[row["location"]][key]=1
            else:
                loc_reports[row["location"]][key]=0
    all_items = copy.deepcopy(loc_reports)
    # print(all_items)
    df1.at[ind,"ReportsPerDay"] = all_items

In [27]:
df1

,time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location,ReportsPerDay
0,2020-04-06,2.0,4.0,1.0,NaN,4.0,NaN,17,"{17: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'..."
1,2020-04-06,2.0,8.0,5.0,NaN,3.0,0.0,2,"{17: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'..."
2,2020-04-06,9.0,7.0,5.0,NaN,4.0,NaN,8,"{17: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'..."
3,2020-04-06,10.0,2.0,9.0,NaN,10.0,NaN,4,"{17: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'..."
4,2020-04-06,6.0,2.0,9.0,NaN,4.0,1.0,15,"{17: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'..."
...,...,...,...,...,...,...,...,...,...
83065,2020-04-11,7.0,7.0,8.0,10.0,10.0,NaN,6,"{18: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'..."
83066,2020-04-11,5.0,2.0,2.0,NaN,8.0,NaN,2,"{18: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'..."
83067,2020-04-11,5.0,1.0,3.0,NaN,2.0,NaN,15,"{18: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'..."
83068,2020-04-11,4.0,9.0,7.0,NaN,7.0,NaN,13,"{18: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'..."
83069,2020-04-11,7.0,1.0,8.0,NaN,1.0,0.0,2,"{18: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'..."

In [28]:
# df1["ReportsPerDay"] = [None]*len(df1)
new_data = df1[["time","ReportsPerDay"]].copy()
# new_data.to_csv("../data/barchart_cumulativedata.csv")

In [29]:
new_data.to_csv('../data/nan_reports_data1.csv')
new_data

            time                                      ReportsPerDay
0     2020-04-06  {17: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'...
1     2020-04-06  {17: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'...
2     2020-04-06  {17: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'...
3     2020-04-06  {17: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'...
4     2020-04-06  {17: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'...
...          ...                                                ...
83065 2020-04-11  {18: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'...
83066 2020-04-11  {18: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'...
83067 2020-04-11  {18: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'...
83068 2020-04-11  {18: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'...
83069 2020-04-11  {18: {'se': 1, 'po': 1, 'ro': 1, 'me': 0, 'bu'...

[83070 rows x 2 columns]